body{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background-color: burlywood;
}
.cube{
    transform-style: preserve-3d;
    position: relative;
    width: 100px;
    height: 100px;
}
.side{
    position: absolute;
    width: 101px;
    height: 101px;
}
.dot{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50px;
   
}
.front{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(50px);
}
.dot3{
margin-left: 18px;
margin-top: 12px;
}
.dot3 .dot{
margin-bottom: 15px;
}
.back{
     background-color: white;
     display: grid;
     grid-template-columns: auto auto;
    transform: translateZ(-50px);
}
.d1{
    margin-top: 10px;
    margin-left: 20px;
}
.d2{
    margin-top: 20px;
    margin-left: 40px;
}
.d3{
   margin-top: 20px;
   margin-left: 60px;
}
.right{
    background-color: white;
    transform: translateX(50px) rotateY(90deg);
}
.d4{
   margin-top: 10px;
   margin-left: 15px;
}
.d5{
    margin-top: -15px;
    margin-left: 70px;
}
.d6{
    margin-top: 55px;
    margin-left: 12px;
}
.d7{
   margin-top: -15px;
   margin-left: 70px;
}
.left{
    background-color: white;
    transform: translateX(-50px) rotateY(-90deg);
}
.d8{
margin-top: 10px;
margin-left: 15px;
}
.d9{
   margin-top: 50px;
   margin-left: 70px;
}
.top{
    background-color: white;
    transform: translateY(-50px) rotateX(90deg)
}
.bottom{
    background-color: white;
    transform: translateY(50px) rotateX(-90deg)
}
.d10{
margin-top: 10px;
margin-left: 15px; 
}
.d11{
    margin-top: -15px;
  margin-left: 70px;

}
.d12{
    margin-top: 20px;
  margin-left: 40px;
}
.d13{
 margin-top: 20px;
 margin-left: 15px;
}
.d14{
margin-top: -15px;
margin-left: 70px;
}
@keyframes rotate-cube {
    0%{transform: rotateX(-45deg) rotateY(45deg)}
    10%{transform: rotateX(-45deg) rotateY(90deg)}
    15%{transform: rotateX(-45deg) rotateY(135deg)}
    20%{transform: rotateX(-45deg) rotateY(180deg)}
    25%{transform: rotateX(-45deg) rotateY(225deg)}
    30%{transform: rotateX(-45deg) rotateY(270deg)}
    35%{transform: rotateX(-45deg) rotateY(315deg)}
    40%{transform: rotateX(-45deg) rotateY(360deg)}
    45%{transform: rotateX(45deg) rotateY(360deg)}
    50%{transform: rotateX(45deg) rotateY(315deg)}
    55%{transform: rotateX(45deg) rotateY(270deg)}
    60%{transform: rotateX(45deg) rotateY(225deg)}
    65%{transform: rotateX(45deg) rotateY(180deg)}
    70%{transform: rotateX(45deg) rotateY(135deg)}
    75%{transform: rotateX(45deg) rotateY(90deg)}
    80%{transform: rotateX(45deg) rotateY(45deg)}
}
.cube{
  animation: rotate-cube 10s infinite ease;
}
.btn{
    height: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 110px;
    margin-left: -90px;
}
