/* General styles */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b33951;
}
/* Dice styles */
.dice{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateY(45deg); */
    animation: rolling 2s;
    transition: 1s ease;
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient( 145deg, #dddbd8, #fff);
}
.face::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}
.face::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}
.front{
    transform: translateZ(50px);
}
.back{
    transform: rotateX(180deg) translateZ(50px);
    background-color: red;
}
.top{
    transform: rotateX(90deg) translateZ(50px);
    background-color: blue;
}
.bottom{
    transform: rotateX(-90deg) translateZ(50px);
    background-color: green;
}
.right{
    transform: rotateY(90deg) translateZ(50px);
    background-color: yellow;
}
.left{
    transform: rotateY(-90deg) translateZ(50px);
    background-color: pink;
}

/* testlash uchun pastga olib turamiz */
 .dice{
    transform: rotateX(90deg) translateZ(50px);
 }
.front::after{
    width: 30px;
    height: 30px;
    background-color: red;
    margin: -15px 0 0 -15px;
}
.back::after{
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0 #f00,
    0 25px #0f0, 40px 25px #00f,
    0 50px #ff0, 40px 50px #0ff;
}
.top::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}
.bottom::after{
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}
.right::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0, 
                0 40px,
                40px 40px;
}
.left::after{
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px, 50px 50px;
}

 .container{
    display: grid;
    place-items: center;
    width: 250px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: #eeeeee;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} 
/* Roll Button styles */
 .btn{
    cursor: pointer;
    color: #b33951;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #b33951;
    transition: .4s;
}
.btn:hover{
    color: #fff;
    background: #b33951;
}
@keyframes rolling{
    50%{
        transform: rotateX(455deg) rotateY(455deg);
    }
} 
