body{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background-color: burlywood;
}
.cube{
    transform-style: preserve-3d;
    position: relative;
    width: 500px;
    height: 500px;
}
.side{
    position: absolute;
    width: 500px;
    height: 500px;
}
.dot{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px;
   
}
.front{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(250px);
}
.dot3{
margin-top: 60px;
margin-left: 30px;
margin-right: 210px;
}
.dot3 .dot{
 margin-bottom: 40px;
}
.back{
     background-color: white;
     display: grid;
     grid-template-columns: auto auto;
    transform: translateZ(-250px);
}
.d1{
    margin-top: 80px;
    margin-left: 120px;
}
.d2{
    margin-top: 20px;
    margin-left: 200px;
}
.d3{
    margin-top: 20px;
    margin-left: 280px;
}
.right{
    background-color: white;
    transform: translateX(250px) rotateY(90deg);
}
.d4{
    margin-top: 20px;
    margin-left: 20px;
}
.d5{
    margin-top: -100px;
    margin-left: 380px;
}
.d6{
    margin-top: 260px;
    margin-left: 20px;
}
.d7{
    margin-top: -100px;
    margin-left: 380px;
}
.left{
    background-color: white;
    transform: translateX(-250px) rotateY(-90deg);
}
.d8{
margin-top: 20px;
margin-left: 20px;
}
.d9{
    margin-left: 380px;
    margin-top: 260px;
}
.top{
    background-color: white;
    transform: translateY(-250px) rotateX(90deg)
}
.bottom{
    background-color: white;
    transform: translateY(250px) rotateX(-90deg)
}
.d10{
    margin-top: 20px;
    margin-left: 20px;
}
.d11{
    margin-top: -100px;
    margin-left: 380px;
}
.d12{
    margin-top: 80px;
margin-left: 200px;
}
.d13{
 margin-top: 80px;
margin-left: 20px;
}
.d14{
margin-top: -100px;
margin-left: 380px; 
}
/* @keyframes rotate-cube {
    0%{transform: rotateX(45deg) rotateY(45deg)}
    25%{transform: rotateX(-45deg) rotateY(45deg)}
    50%{transform: rotateX(-45deg) rotateY(-45deg)}
    75%{transform: rotateX(45deg) rotateY(-45deg)}
    100%{transform: rotateX(45deg) rotateY(45deg)}
} */
/* .cube{
    transform: rotateX(-45deg) rotateY(45deg);
} */
