body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b33951;
}
.dice{
    position: relative;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px; 
  animation: rolling 4s;
  transition: 2s ease;
}
.face{
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    border:#f6f3f0 5px solid;
    border-radius: 20px;
    background: linear-gradient(145deg, #f6f3f0, #f1f1f1);
}
.face::before{
    position: absolute;
    content: '';
    background-color:#f6f3f0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translateZ(-1px);
}
.face::after{
position: absolute;
content: '';
top: 50%;
left: 50%;
width: 18px;
height: 18px;
border-radius: 50%;
background-color: black;
}
.front{
    transform: translateZ(50px);
}
.back{
    transform: rotateX(180deg) translateZ(50px);
    background-color: red;
}
.top{
    transform: rotateX(90deg) translateZ(50px);
    background-color: aqua;
}
.bottom{
    transform: rotateX(-90deg) translateZ(50px);
    background-color: blue;
}
.left{
    transform: rotateY(-90deg) translateZ(50px);
    background-color: chartreuse;
}
.right{
    transform: rotateY(90deg) translateZ(50px);
    background-color: black;
}
.front::after{
    background-color: red;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
}
.back::after{
 margin: -40px 0 0 -40px;
 box-shadow: 60px 0 0 , 0px 30px 0 , 60px 30px 0, 0 60px 0, 60px 60px 0;
}
.top::after{
margin: 15px 0 0 15px;
box-shadow: -50px -50px 0 ;
}
.bottom::after{
margin: 20px 0 0 20px;
box-shadow: -60px 0 0, -30px -30px 0 , -60px  -60px 0, 0 -60px;
}
.left::after{
    margin: 20px 0 0 20px;
    box-shadow: -30px -30px 0, -60px -60px 0;
}
.right::after{
margin: 20px 0 0 20px;
box-shadow: -60px 0 0 , -60px -60px 0, 0 -60px 0;
}
.container{
    display: grid;
   place-items: center;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background-color: white;
}
.btn{
    height: 40px;
    width: 100px;
    background-color: white;
    color: #b33951;
    border: #b33951 1px solid;
    font: 700 25px;
    border-radius: 10px;
    transition: 1s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn:hover{
    background-color: #b33951;
    color: white;
}
@keyframes rolling{
    50%{transform: rotateX(455deg) rotateY(455deg);}
}